# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

/Logs/*.*
*logs*
.fake


**/.cr/**
**/nupkgs**

**/Mark/**
*.user
**/.vs/**

**/.idea/**

**/node_modules/**

**/Debug/**
**.db
src/Inventory.Web/App_Data/inventory.db
*.db
**/*.db
*.sqlite
**/*.sqlite
src/**/App_Data/*.db
src/**/App_Data/*.sqlite
*.xlsx
**/TestResults/**
